app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
  
  //Flexbox holding all skill boxes
  .app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  ///Individual skill box div
  .app__profile-item {
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;
  
    //resize image
    img {
      width: 100%;
      height: 170px;
      border-radius: 15px;
      object-fit: cover;
    }
  
    //Increase skillbox margins and width on larger screens
    @media screen and (min-width: 2000px) {
      width: 370px;
      margin: 2rem 4rem;
      
      //Increase image height on larger screens
      img {
        height: 320px;
      }
    }
  }
